body,html{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

.mainContainer{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    background-color: black;
    resize: both;
    overflow: auto;
}

/*Searchbar*/
.searchbarContainer{
    background-color: white;
    box-shadow: 2px 2px 5px rgb(148, 148, 148);
    position:relative;
    z-index:2;
}

.searchbarGrid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    padding: 20px;
}

form {
    display: flex;
    align-items: center;
}

input {
    margin-left: 2%;
    border-radius: 15px;
    border: none;
    width: 50%;
    background-color: rgb(197, 197, 197);
    padding: 8px 10px;
    outline: none;
    margin-right: 1rem;
}

form button{
    width: 20px;
    height: 20px;
    align-items: center;
    background-image: url(images/search.svg);
    background-size: 100%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
}

/*Profile*/
.profileContainer {
    display: flex;
    justify-content: flex-end;
    margin-right: 5rem;
}

.profileName{
    margin-top: 10px;
    font-weight: 600;
}

.notificationIcon{
    margin-top: 10px;
    width: 2rem;
    height: 2rem;
    margin-right: 25px;
}

.profileIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 25px;
}

/*Dashboard*/
.dashboardContainer{
    background-color: rgb(0, 195, 255);
    grid-row: 1 / -1;
    color: white;
    font-weight: 600;


    width: 100%;
    min-width: 205px;
    height: 100%;
    display: flex;
    flex-direction: column;

    padding-left: 5%;
    padding-right: 5%;
    padding-top: 4%;
}

.dashboardContainer div{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 7px;
}

.dashboardContainer img{
    max-width: 100%;
    max-height: 100%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

#dashboard{
    margin-bottom: 40px;
    align-items: center;
    justify-content: flex-start;
}

#communities{
    margin-bottom: 50px;
}

.dashboardText{
    margin-left: 25px;
}

.iconContainer{
    width: 30px;
    height: 30px;
    margin-right: 11px;
    margin-left: 7px;
    
}





.contentContainer{
    background-color: rgb(230, 230, 230);
}